@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "/assets/scss/variables.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: $main-font;
}
#logo {
  font-family: "Pacifico", sans-serif;
  color: $primary-color;
}

.navbar-nav {
  opacity: 80%;
  .nav-link {
    margin-right: 1.5rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $primary-color;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
    }
  }
}
.home {
  margin-left: auto;
  h1 {
    line-height: 6rem;
    font-weight: 700;
    font-size: 3rem;
  }
  .color-text-header {
    color: $primary-color;
  }
  .hero-btn {
    padding: 1.05rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 10px 36px $secondary-color;
    }
  }
  .image-div {
    height: auto;
    background-color: $primary-color;
    border-radius: 78% 22% 44% 56% / 21% 81% 19% 79%;
    box-shadow: 9px 7px 29px 0px rgba(14, 9, 173, 0.79);

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.primary-header {
  color: $primary-color;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.about {
  margin-left: auto;

  .about-img {
    height: auto;

    img {
      max-width: 50%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .introduction {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .about-text {
      text-align: start;
      line-height: 2rem;
    }
  }
}
.progress-bar {
  background-color: $primary-color;
}
.portfolio-div {
  position: relative;
  overflow: hidden;
  padding: 5px;

  a {
    .portfolio-img {
      border: 1px solid #0e09ad;
      border-radius: 19px 19px 19px 19px;
      width: 350px;
      height: 280px;
    }
  }
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    background: $primary-color;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    transition: opacity 0.3s, visibility 0.3s;
  }
}
.portfolio-div:hover h3 {
  visibility: visible;
  opacity: 1; //Kako bi se na hover div-a pokazao h3
}
.form {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-group {
      width: 50%;
      input,
      textarea {
        border: 1px solid $primary-color;
      }
    }
  }
  .btn {
    background-color: $primary-color;
    color: #fff;
    padding: 1.02rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 10px 36px $secondary-color;
    }
  }
}
footer {
  div {
    section {
      a {
        img {
          width: 30px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1198.8px) {
  .portfolio-div {
    a {
      .portfolio-img {
        width: 300px;
        height: 200px;
      }
    }
  }
}
@media only screen and (max-width: 998.8px) {
  .home {
    h1 {
      line-height: 5rem;
      font-size: 2rem;
    }
  }
  .portfolio-div {
    a {
      .portfolio-img {
        width: 230px;
        height: 200px;
      }
    }
  }
  label {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 598.8px) {
  .home {
    h1 {
      line-height: 4rem;
      font-size: 2rem;
    }
  }
  .portfolio-div {
    a {
      .portfolio-img {
        width: 250px;
        height: auto;
      }
    }
  }
}
label {
  font-size: 0.8rem;
}
input::placeholder {
  font-size: 0.8rem;
}
footer {
  div {
    section {
      a {
        img {
          width: 30px;
        }
      }
    }
  }
}
